<main class="container">
  <!-- <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter Assignment
    </button>
  </a> -->

<cdk-virtual-scroll-viewport itemSize="150" class="example-viewport" #scroller>
  <mat-list *cdkVirtualFor="let assignment of assignments" class="example-item">
    <nav class="assignments-list">
      <a href="/assignment/{{assignment._id}}">
        
        <h3 mat-subheader> 
          <span *ngIf="assignment.rendu" class="rendu">Rendu</span>
          <span *ngIf="!assignment.rendu" class="nonRendu">Non rendu</span>

          {{assignment.dateDeRendu | date:"dd/MM/yy"}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis" appRendu>
            Devoir intitulé {{assignment.nom}}.
          </p>
          <ng-template #nonsoumis>
            <p appNonRendu>Le devoir {{assignment.nom}} n'a pas encore été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list>
</cdk-virtual-scroll-viewport>

</main>
