.rendu {
  color:rgb(255, 255, 255);
  background-color: rgb(42, 207, 78);
  width: 50px;
  border-radius: 3px;
  padding: 2px;
  margin-right: 10px;
}

.nonRendu {
  width: 70px;
  border-radius: 3px;
  padding: 2px;
  color:rgb(255, 255, 255);
  background-color: rgb(216, 121, 121);
  margin-right: 10px;
}

.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

table {
  width: 100%;
}

.mat-column-id {
  color:red;
}

.example-viewport {
  height: 75vh;
  width: 75%;
  border: 1px solid rgb(226, 226, 226);
  margin: 0 auto;
}

.example-item {
  height: 100px;
}

.assignments-list > a {
  text-decoration: none;
}
