<form ngForm #assignmentForm (submit)="onSubmit(); assignmentForm.reset()" class="form">
    <mat-form-field>
      <input [(ngModel)]="nom" matInput placeholder="Nom matière" name="nom" required>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Professeur</mat-label>
        <mat-select [(ngModel)]="prof" name="prof">
          <mat-option  *ngFor="let prof of profs" [value]="prof._id">{{prof.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-stroked-button color="primary">
        Ajouter
      </button>
  </form>
  