 <div class="header">
    <h1 class="main-title">
      <nav>
        <a routerLink="/home">{{titre}}</a>
      </nav>
    </h1>
    <!-- <mat-slide-toggle (click)="onLoginLogout()">Login</mat-slide-toggle> -->
    <div *ngIf="loggedIn"><button (click)="logout()"><mat-icon aria-hidden="false" aria-label="">logout</mat-icon></button></div>



  </div>

  <div class="container">
    <!-- Menu -->
    <div class="menu" *ngIf="loggedIn">
      <ul>
        <li><a routerLink="/" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}" class="ajouterBtn">Page d'accueil</a></li>
        <li><a routerLink="/add" [routerLinkActive]="['is-active']" class="ajouterBtn">Ajouter Assignment</a></li>
        <li><a routerLink="/matiere/add" [routerLinkActive]="['is-active']" class="ajouterBtn">Ajouter Matière</a></li>
        <li><a routerLink="/user/add" [routerLinkActive]="['is-active']" class="ajouterBtn">Ajouter Utilisateur</a></li>
        <li><a routerLink="/matiere/list" [routerLinkActive]="['is-active']" class="ajouterBtn">Lister Matière</a></li>
      </ul>
    </div>
    <!-- Container -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>


<footer class="app-footer">
  <div>Assignment</div>
  <div>
    <ul>
      <li>RAJOSIARISAONA Iaina Harilanto</li>
      <li>RANAIVO Rovanirina Nandrianina</li>
    </ul>
  </div>
  <div>MBDS2122</div>
</footer>
